:root{
    --blu: #BE7B2A;
}

.jumbotron {
    height: 15rem;
    text-align: center;
    vertical-align: middle;
}


.jumbotron-bottom {
    vertical-align: middle;
    margin-top: 2%;
    margin-bottom: 0%;
}


.menu-item {
    display: inline;
    font-size: 1.5rem;
    border-bottom: 0.2rem solid #0275D8;
    text-decoration: none;
    font-weight: bold;
    color: #0275D8;
    padding: 0% 1%;
    margin-left: 1%;
}

.align-left{
    text-align: left;
}

.align-center {
    text-align: center;
}

.panel-left, .panel-right{
    padding: 1%;
}


.panel-right-module {
    border: 0.1rem solid #F5F5F5;
    background-color: #F5F5F5;
    padding: 2% 1%;
    text-align: center;
}



a:hover{
    text-decoration: none;
}
.avatar-container{
    width: 10rem;
    height: 10rem;
}

.avatar-image{
    max-width: 100%;
    max-height: 100%;
}

.message {
    padding: 0% 2%;
}


.panel-title {
    color: #0275D8;
}

.a-button {
    display: inline-block;
    margin-left: 2%;
}


.admin-dashboard {
    vertical-align: middle;
}

.admin-dash{
    border: 0.5rem solid white;
    height: 16rem;
    padding: 2%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-color: #ECEEEF;
}

.admin-dash:hover{
    cursor: pointer;

}

.admin-mode {
    float:right;
}


.reply-area {
    padding: 0% 1%;
}

.content{
    height: 2rem;
}

.fa-big{
    font-size:12rem !important;
    display: inline-block !important;
    vertical-align: middle !important;
    max-height: 100%;
    max-width: 100%;

}

.form-group, .form-control {
    text-align: center;
}